@model HomeWeb4Pi.Models.Home.IndexModel

<div id="forecast-part" class="header">
  @Html.Partial("~/Views//Parts/Weather.cshtml", new HomeWeb4Pi.Models.Parts.WeatherModel())
</div>

<div class="content">

  <div id="calendar-part" class="left">
    @Html.Partial("~/Views//Parts/Calendar.cshtml", new HomeWeb4Pi.Models.Parts.CalendarModel())
  </div>

  <div class="middle">
  </div>

  <div class="right">
    <div id="clock-part">
      @Html.Partial("~/Views//Parts/Clock.cshtml", new HomeWeb4Pi.Models.Parts.ClockModel())
    </div>
    <div id="stopwatch-part">
      @Html.Partial("~/Views//Parts/Stopwatch.cshtml", new HomeWeb4Pi.Models.Parts.StopwatchModel())
    </div>
  </div>
</div>

<script type="text/javascript">

  $(document).ready(function () {

    setInterval(refreshWeatherForecast, 1000 * 600); 
    setInterval(refreshCalendar, 1000 * 600); 
    setInterval(refreshClock, 1000 * 25); 

  }); // document.ready end


  function refreshWeatherForecast() {
    $.ajax({
      type: 'GET',
      url: '/Ajax/RefreshWeatherForecast',
      success: function (html) {
        $('#forecast-part').html(html);       
      }
    });
  }

  function refreshCalendar() {
    $.ajax({
      type: 'GET',
      url: '/Ajax/RefreshCalendar',
      success: function (html) {
        $('#calendar-part').html(html);
      }
    });
  }

  function refreshClock() {
    $.ajax({
      type: 'GET',
      url: '/Ajax/RefreshClock',
      success: function (html) {
        $('#clock-part').html(html);
      }
    });
  }

</script>