@model HomeWeb4Pi.Models.Home.IndexModel

<div class="header">
  HEADER
</div>

<div class="content">

  <div class="left">
    LEFT
  </div>

  <div class="middle">
    MIDDLE
  </div>

  <div class="right">
    RIGHT
  </div>
</div>

