@model HomeWeb4Pi.Models.Home.IndexModel

<div class="header">
  @Html.Partial("~/Views//Parts/Weather.cshtml", new HomeWeb4Pi.Models.Parts.WeatherModel())
</div>

<div class="content">

  <div class="left">
    @Html.Partial("~/Views//Parts/Calendar.cshtml", new HomeWeb4Pi.Models.Parts.CalendarModel())    
  </div>

  <div class="middle">
    MIDDLE
  </div>

  <div class="right">
    RIGHT
  </div>
</div>

