<div class="stopwatch">
  <div class="stopwatch-current">00:00</div>
  <div class="stopwatch-presets">
    <div class="stopwatch-preset-item">05:00</div>
    <div class="stopwatch-preset-item">10:00</div>
    <div class="stopwatch-preset-item">15:00</div>
    <div class="stopwatch-preset-item">30:00</div>
    <div class="stopwatch-preset-item">45:00</div>
  </div>
</div>
