* {
  box-sizing: border-box;
  vertical-align: middle;
}

body {
  width: 800px;
  height: 480px;
  font-family: Oswald;
  margin: 0px;
}

.header {
  padding-top: 2px;
  width: 100%;
  height: 128px;
}

.content {
  overflow: auto;
  height: 352px;
}

.left {
  float: left;
  width: 320px;
  height: 100%;
  background: #b6ff00;
}

.middle {
  float: left;
  width: 240px;
  height: 100%;
  background: #beddf3;
}

.right {
  float: left;
  width: 240px;
  height: 100%;
  background: #f1c7a9;
}

.fcast {
  padding-left: 12px;
}

.fcast-item {
  display: inline-block;
  width: 152px;
  text-align: center;
}

  .fcast-item img {
    width: 64px;
  }

.fcast-tmp {
  display: inline-block;
  text-align: right;
}

.fcast-img {
  display: inline-block;
  margin-right: 16px;
  margin-top: 6px;
  margin-bottom: 4px;
}
